.breadcrumb__wrapper {
    position: relative;
    background-color: $c-background;
    // overflow: hidden;
    z-index: 1;

    &--content {
        display: flex;
        align-content: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 16px;
        padding: 12% 0 6% 0;
        @media (max-width: 991px) {
            height: auto;
            padding: 30% 0 20% 0;
        }

        h1,
        h2 {
            font-size: clamp(32px, 6vw, 48px);
            line-height: clamp(40px, 6vw, 56px);
            animation-duration: 1s;
            animation-delay: 1.5s;
            font-weight: 700;
            margin-bottom: 0;
            color: $c-main;

            span {
                // text-shadow: -1px 0 $c-second, 0 1px $c-second, 1px 0 $c-second, 0 -1px $c-second;
                color: transparent;
                -webkit-text-stroke: 1px $c-white;
            }
        }

        .short {
            font-size: clamp(18px, 3vw, 24px);
            color: $c-white;
            line-height: 32px;
            font-weight: 500;
            margin-bottom: 0;
         
        }
        .details {
            font-size: clamp(14px, 3vw, 16px);
            color: $c-white;
            line-height: 24px;
            font-weight: 400;
            margin-bottom: 0;
        }
        .simple {
            font-size: clamp(16px, 3vw, 20px);
            color: $c-white;
            line-height: 32px;
            font-weight: 400;
            margin-bottom: 0;
        }
    }

    &--content2 {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        gap: 16px;
        padding: 14% 0 6% 0;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        @media (max-width: 991px) {
            height: auto;
            padding: 30% 0 20% 0;
            width: 100%;
        }

        h1,
        h2 {
            font-size: clamp(32px, 6vw, 48px);
            line-height: clamp(40px, 6vw, 56px);
            animation-duration: 1s;
            animation-delay: 1.5s;
            font-weight: 700;
            margin-bottom: 0;
            color: $c-white;

            span {
                // text-shadow: -1px 0 $c-second, 0 1px $c-second, 1px 0 $c-second, 0 -1px $c-second;
                color: transparent;
                -webkit-text-stroke: 1px $c-white;
            }
        }

        .short {
            font-size: clamp(18px, 3vw, 24px);
            color: $c-white;
            line-height: 32px;
            font-weight: 500;
            margin-bottom: 0;
         
        }
        .details {
            font-size: clamp(14px, 3vw, 16px);
            color: $c-white;
            line-height: 24px;
            font-weight: 400;
            margin-bottom: 0;
        }
        .simple {
            font-size: clamp(16px, 3vw, 20px);
            color: $c-white;
            line-height: 32px;
            font-weight: 400;
            margin-bottom: 0;
        }
    }

    
}

.gif {
    background-color: $c-second;
    background-image: linear-gradient(
            to left,
            rgba($c-second, 0.9),
            rgba($c-second, 0.9)
        ),
        url("/animation.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
