.verticals__area {
    a {
        text-decoration: none;
        width: 100%;
    }

    position: relative;

    .v-1 {
        background-image: url("../../assets/images/services/m1.svg");
        background-size: cover;
        background-position: center;
        // padding: 20% 15px 40%;
        border-radius: 12px;
    }
    .v-2 {
        background-image: url("../../assets/images/services/m2.svg");
        background-size: cover;
        background-position: center;
        // padding: 20% 15px 40%;
        border-radius: 12px;
    }
    .v-3 {
        background-image: url("../../assets/images/services/m4.svg");
        background-size: cover;
        background-position: center;
        // padding: 20% 15px 40%;
        border-radius: 12px;
    }
    .v-4 {
        background-image: url("../../assets/images/services/m3.svg");
        background-size: cover;
        background-position: center;
        // padding: 20% 15px 40%;
        border-radius: 12px;
    }
}

.verticals__area--item:hover p {
    opacity: 1;
}

.verticals__area--item:hover .verticals__area--item--content {
    padding-top: 10%;
}
.verticals__area--item:hover .verticals__area--item--icon {
    display: none;
}

.verticals__area--card {
    position: relative;
    max-width: 550px;
    width: 100%;
    height: 500px;
    font-family: "Droid Serif", serif;
    color: #fff;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 0px;
    text-align: center;
    transition: all 0.4s;
    background-size: 100%;

    @media (max-width: 992px) {
        margin-bottom: 15px;
        height: 400px;
    }

    .v-1 {
        background-image: url("../../assets/images/services/m1.svg");
        background-size: cover;
        background-position: center;
        border-radius: 12px;
    }

    &--title-content {
        text-align: center;
        margin: 100px 0 0 0;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        transition: all 0.6s;

        .intro {
            width: 170px;
            margin: 0 auto;
            color: #ddd;
            line-height: 18px;
            margin-top: 20px;

            h4 {
                font-size: clamp(24px, 3vw, 32px);
            }
        }
    }

    .card-info {
        padding: 0;
        width: 100%;
        position: absolute;
        font-family: "Montserrat";
        bottom: -40px;
        left: 0;
        margin: 0 auto;
        padding: 0 15px;
        font-size: 15px;
        line-height: 23px;
        font-weight: 500;
        z-index: 20;
        opacity: 0;
        transition: bottom 0.64s,
            opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);
    }

    img {
        width: 190px;
        @media (max-width: 700px) {
            width: 100px;
        }
    }
}
.verticals__area--card:hover {
    box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75);
}
.verticals__area--card:hover .card-info {
    opacity: 1;
    top: 40%;

    @media (max-width: 992px) {
        top: 46% !important;
    }
    @media (max-width: 1100px) {
        top: 35%;
        font-size: 13px;
    }
}

.verticals__area--card:hover img {
    width: 100px;
    @media (max-width: 700px) {
        width: 60px;
    }
}

.verticals__area--card:hover .verticals__area--card--title-content {
    margin: 40px 0 0 0;
    transition: all 0.6s;
    @media (max-width: 1100px) {
        margin: 20px 0 0 0;
    }
}

.verticals__area--card:hover h4:after {
    animation: changeLetter 0.3s 1 linear;
    width: 80%;
}

.verticals__area--card img {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
}
.verticals__area--card img:hover {
    text-shadow: 0px 8px 20px rgba(0, 0, 0, 0.95);
}

@keyframes changeLetter {
    0% {
        width: 10%;
    }
    100% {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .verticals__area--card:hover .verticals__area--card--title-content,
    .verticals__area--card--title-content {
        margin-top: 20px;
    }
    .verticals__area--card {
        height: 300px;
    }
    .verticals__area--card h3 {
        font-size: 1.3em;
    }
    .intro {
        font-size: 0.8em;
    }
}

// Tabs
@keyframes blur-img {
    from {
        filter: blur(10px);
        -webkit-filter: blur(10px);
    }
    to {
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }
}

.tabs__area {
    .tabs {
        display: flex;
        align-items: center;
       

        .tab {
            flex-grow: 1;
            cursor: pointer;
            color: $c-gray;
            border-bottom: none;
            position: relative;
            transition: background-color 0.3s;
            position: relative;
            text-align: center;
            padding: 24px 0;
            font-weight: 600;
            span {
              font-size: clamp(12px, 3vw, 16px);
            }

            &:after {
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                content: "";
                border-bottom: solid 4px $c-main;
                transform: scaleX(0);
                transition: transform 0ms ease-out, width 5000ms linear;
                transform-origin: 0% 50%; /* Start from the left */
            }
        }

        .tab.active {
          color: $c-main;
        }

        .tab.active:after {
            transform: scaleX(1);
            
            transition: transform 3000ms linear; /* Adjust transition duration as needed */
        }
    }

    .tab-content {
        margin-top: 32px;
        background-color: #20222b;
    }

    .tab-content:not(.active) {
        display: none;
    }

    &--left {
        padding: 30px;
        position: relative;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       
        @media (max-width: 800px) {
            padding: 60px 30px;
        }

        &--number {
            position: absolute;
            right: 30px;
            top: 80px;
            font-size: 150px;
            font-weight: 900;
            color: #343640;
            z-index: 1;
        }

        &--content {
            z-index: 8;
            &--title {
                h2 {
                    font-size: 30px;
                    font-weight: 800;
                    line-height: 40px;
                    color: #ffffff;
                }
            }

            &--short {
                padding-top: 20px;

                p {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 22px;
                    color: #ffffff;
                }
            }

            &--tags {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-top: 30px;
                flex-wrap: wrap;

                @media (max-width: 1024px) {
                    flex-wrap: wrap;
                }

                &--item {
                    margin-right: 10px;
                    padding: 8px 16px;
                    border: 1.5px solid #fff;
                    margin-bottom: 5px;
                    color: white;
                    border-radius: 100px;

                    &:first-child {
                        margin-left: 0;
                    }
                    h6 {
                        margin-bottom: 0;
                        font-size: 14px;
                        font-weight: 600;
                    }

                    @media (max-width: 1024px) {
                        padding: 8px 16px;
                        margin-top: 5px;
                        h6 {
                            margin-bottom: 0;
                            font-size: 12px;
                            font-weight: 600;
                        }
                    }
                }

                @media (max-width: 800px) {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: wrap;
                    padding-top: 10px;

                    &--item {
                        margin-right: 10px;
                        margin-top: 5px;
                        padding: 4px 12px;
                        border: 1.5px solid #fff;
                        color: white;
                        border-radius: 100px;

                        h6 {
                            margin-bottom: 0;
                            font-size: 12px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }

    &--right {
        img {
            width: 100%;
        }
    }
}

.tab--area {
    min-height: 100vh;

    &--item {
        background-color: #20222b;
        margin-top: 50px;

        &--left {
            padding: 30px;
            position: relative;
            height: 100%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            @media (max-width: 800px) {
                padding: 60px 30px;
            }

            &--number {
                position: absolute;
                right: 30px;
                top: 50px;
                font-size: 150px;
                font-weight: 900;
                color: #343640;
                z-index: 1;
            }

            &--content {
                z-index: 9;
                &--title {
                    h2 {
                        font-size: 30px;
                        font-weight: 800;
                        line-height: 40px;
                        color: #ffffff;
                    }
                }

                &--short {
                    padding-top: 20px;

                    p {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 22px;
                        color: #ffffff;
                    }
                }

                &--tags {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding-top: 30px;
                    flex-wrap: wrap;

                    @media (max-width: 1024px) {
                        flex-wrap: wrap;
                    }

                    &--item {
                        margin-right: 10px;
                        padding: 8px 16px;
                        border: 1.5px solid #fff;
                        margin-bottom: 5px;
                        color: white;
                        border-radius: 100px;

                        &:first-child {
                            margin-right: 0;
                        }
                        h6 {
                            margin-bottom: 0;
                            font-size: 14px;
                            font-weight: 600;
                        }

                        @media (max-width: 1024px) {
                            padding: 8px 16px;
                            margin-top: 5px;
                            h6 {
                                margin-bottom: 0;
                                font-size: 12px;
                                font-weight: 600;
                            }
                        }
                    }

                    @media (max-width: 800px) {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        flex-wrap: wrap;
                        padding-top: 10px;

                        &--item {
                            margin-right: 10px;
                            margin-top: 5px;
                            padding: 4px 12px;
                            border: 1.5px solid #fff;
                            color: white;
                            border-radius: 100px;

                            h6 {
                                margin-bottom: 0;
                                font-size: 12px;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }

        &--right {
            img {
                width: 100%;
            }
        }
    }

    .tile {
        margin: 60px auto;
    }

    #tile-1 .nav-tabs {
        position: relative;
        border: none !important;
        background-color: transparent;
        /*   box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); */
        border-radius: 6px;
    }
    #tile-1 .nav-tabs li {
        margin: 0px !important;
    }
    #tile-1 .nav-tabs li a {
        position: relative;
        margin-right: 0px !important;
        padding: 20px 40px;
        font-size: 16px;
        border: none !important;
        font-weight: 600;
        text-decoration: none;
        color: #616161;
    }
    #tile-1 .nav-tabs a:hover {
        background-color: #1b1c21 !important;
    }
    // #tile-1 .slider {
    //   display: inline-block;
    //   width: 30px;
    //   height: 4px;
    //   border-radius: 3px;
    //   background-color: #d94427;
    //   position: absolute;
    //   z-index: 1200;
    //   bottom: 0;
    //   transition: all 0.4s linear;
    // }
    #tile-1 .nav-tabs .active {
        background-color: transparent !important;
        border-bottom: 4px solid #d94427 !important;
        color: #d94427 !important;
    }

    @media (max-width: 800px) {
        #tile-1 .nav-tabs li a {
            padding: 8px;
            font-size: 13px;
        }
    }
}

// Style 3
.tab--area2 {
    .cycle-tab-container {
        .tab--area--item {
            background-color: #20222b;
            margin-top: 50px;

            &--left {
                padding: 30px;
                position: relative;
                height: 100%;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                @media (max-width: 800px) {
                    padding: 60px 30px;
                }

                &--number {
                    position: absolute;
                    right: 30px;
                    top: 50px;
                    font-size: 150px;
                    font-weight: 900;
                    color: #343640;
                    z-index: 1;
                }

                &--content {
                    z-index: 8;
                    &--title {
                        h2 {
                            font-size: 30px;
                            font-weight: 800;
                            line-height: 40px;
                            color: #ffffff;
                        }
                    }

                    &--short {
                        padding-top: 20px;

                        p {
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 22px;
                            color: #ffffff;
                        }
                    }

                    &--tags {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding-top: 30px;
                        flex-wrap: wrap;

                        @media (max-width: 1024px) {
                            flex-wrap: wrap;
                        }

                        &--item {
                            margin-right: 10px;
                            padding: 8px 16px;
                            border: 1.5px solid #fff;
                            margin-bottom: 5px;
                            color: white;
                            border-radius: 100px;

                            &:first-child {
                                margin-left: 0;
                            }
                            h6 {
                                margin-bottom: 0;
                                font-size: 14px;
                                font-weight: 600;
                            }

                            @media (max-width: 1024px) {
                                padding: 8px 16px;
                                margin-top: 5px;
                                h6 {
                                    margin-bottom: 0;
                                    font-size: 12px;
                                    font-weight: 600;
                                }
                            }
                        }

                        @media (max-width: 800px) {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            flex-wrap: wrap;
                            padding-top: 10px;

                            &--item {
                                margin-right: 10px;
                                margin-top: 5px;
                                padding: 4px 12px;
                                border: 1.5px solid #fff;
                                color: white;
                                border-radius: 100px;

                                h6 {
                                    margin-bottom: 0;
                                    font-size: 12px;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
            }

            &--right {
                img {
                    width: 100%;
                }
            }
        }

        .nav-tabs {
            position: relative;
            border-bottom: 1px solid rgb(31, 31, 31) !important;
            background-color: transparent;
            border-radius: 6px;
        }
        .cycle-tab-item a {
            position: relative;
            margin-right: 0px !important;
            padding: 20px 10px;
            font-size: 16px;
            border: none !important;
            text-align: center;
            font-weight: 600;
            text-decoration: none;
            color: #616161;
            text-align: center;

            @media (max-width: 800px) {
                font-size: 9px;
                padding: 14px 0px;
            }
        }

        .tab-pane {
            max-width: 100% !important;
        }

        .fade {
            opacity: 0;
            transition: opacity 4s ease-in-out;
        }

        .fade.active {
            opacity: 1 !important;
        }

        .cycle-tab-item {
            width: 25%;
            text-align: center;
        }

        .cycle-tab-item:after {
            display: block !important;
            content: "" !important;
            border-bottom: solid 3px #d94427 !important;
            transform: scaleX(0) !important;
            transition: transform 0ms ease-out !important;
        }
        .cycle-tab-item.active:after {
            transform: scaleX(1) !important;
            transform-origin: 0% 50% !important;
            transition: transform 5000ms ease-in !important;
        }

        .nav-link:focus,
        .nav-link:hover,
        .cycle-tab-item.active a {
            border-color: transparent !important;
            color: #d94427 !important;
        }
    }
}
