

//Colours
$c-main:  #d94427;
$c-second: #ffffff;
$c-dark: #1d1f26;
$c-text: #23252f;
$c-gray: #a8b1c1;
$c-black: #15181c;
$c-white: #ffffff;
$c-light: #F8F9FD;

$c-background: #1D1E27;



$c-green: #22d07c;
$c-danger: #f2495a;
$c-success: #22d07c;
$c-orange: #FF9933;
